#index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  display: flex;
  margin: 9px;
  justify-content: center;
}
footer {
  margin-top: auto;
}
div {
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  height: auto;
  width: 350px;
  justify-content: center;
  gap: 5px 5px;
}
.square {
  display: flex;
  width: 18%;
  aspect-ratio: 1/1;
  border: 2px solid black;
  box-sizing: border-box;
  font-size: 50px;
  text-align: center;
  justify-content: space-evenly;
}
.keyboard {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  height: auto;
}
.mini-square {
  display: flex;
  flex-flow: nowrap row;
  aspect-ratio: 1/1;
  border: 2px solid black;
  background-color: gray;
  box-sizing: border-box;
  font-size: 32px;
  text-align: center;
  justify-content: space-evenly;
  width: 8%;
  color: white;
}
.top-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  gap: 5px 5px;
}

.home-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  gap: 5px 5px;
}

.bottom-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
  justify-content: center;
  gap: 5px 5px;
}

.rectangle {
  display: flex;
  flex-grow: 2;
  height: 70px;
  border: 2px solid black;
  background-color: gray;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  color: white;
  width: 65px;
}

.gray {
  background-color: darkgray;
}

.green {
  background-color: darkgreen;
}
.yellow {
  background-color: darkgoldenrod;
}

#win {
  /* background-color: red; */
  background-image: url(https://i.imgur.com/LP1NCaP.jpeg);
}
